<%- include('partials/header') %>
<!--table-->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Grupo</th>
                <th>Categoria</th>
            </tr>
        </thead>
            <tbody></tbody>
    </table>
</div>
<script src="js/categorias-gasto.js"></script>
<%- include('partials/footer') %>