<%- include('partials/header') %>
<div class="main-header">
    <span class="titulo">Fuentes de Ingreso</span>
    <%- include("partials/btn-nuevo") %>
</div>
<!--table-->
<div class="table-container">
    <table id="table" class="table" >
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
</div>
<script src="js/fuentes-ingreso.js"></script>
<script src="js/data-table.js"></script>
<%- include('partials/footer') %>