<%- include('partials/header') %>
<div>
    <%- include("partials/btn-nuevo") %>
</div>
<!--table-->
<div class="table-container">
    <table id="table" >
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<script src="js/grupos-gasto.js"></script>
<script src="js/data-table.js"></script>
<%- include('partials/footer') %>