<%- include('partials/header') %>
<!--table-->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Fuente</th>
                <th>Observación</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<script src="js/ingresos.js"></script>
<%- include('partials/footer') %>