<div class="combo-fecha">
    <span>
        Desde:
    </span>
    <select id="anio">
        <% for (let i = new Date().getFullYear(); i >= 2000; i--) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
    
    <select id="mes">
        <% const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
        <% for (let i = 0; i < meses.length; i++) { %>
            <option value="<%= i+1 %>"><%= meses[i] %></option>
        <% } %>
    </select>
</div>

<style>
    .combo-fecha{
        color: black;
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        height: 100%;
        align-items: center;
    }
    .combo-fecha select{
        outline: none;
        border: none;
        padding: 5px;
    }

</style>