<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Gastos</title>
    <link rel="icon" href="img/icon.png" type="image/png">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Custom CSS -->
    <link rel="stylesheet" href="css/window.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!---->
    <div class="container">
        <!--SideBar-->
        <div class="sidebar">
            <div class="sidebar-header">
                <img class="logo" src="img/icon.png" alt="">
                <h2 class="app-name">ATCH</h2>
            </div>
            <hr>
            <ul>
                <li><a class="sidebar-link" href="resumen">
                    <i class="fa-solid fa-house"></i>
                    <span>Resumen</span>
                </a></li>
                <li><a class="sidebar-link" href="ingresos">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span>Ingesos</span>
                </a></li>
                <li><a class="sidebar-link" href="gastos">
                    <i class="fa-solid fa-credit-card"></i>
                    <span>Gastos</span>
                </a></li>
                <hr>
                <li><a class="sidebar-link" href="fuentes-ingreso">
                    <i class="fa-solid fa-money-check-alt"></i>
                    <span>Fuentes de Ingreso</span>
                </a></li>
                <li><a class="sidebar-link" href="grupos-gasto">
                    <i class="fa-solid fa-th-list"></i>
                    <span>Grupos de Gasto</span>
                </a></li>
                <li><a class="sidebar-link" href="categorias-gasto">
                    <i class="fa-solid fa-tags"></i>
                    <span>Categorías de Gasto</span>
                </a></li>
            </ul>
        </div>
        <!--Content-->
        <div class="content">
            <!--Header-->
            <header>
                <div class="search-box">
                    <input id="busqueda" type="text" placeholder="Buscar..." />
                    <button id="btn-busqueda"><i class="fa-solid fa-search"></i></button>
                </div>
                 
                <div class="combo-fecha">
                    <select id="año">
                        <% for (let i = new Date().getFullYear(); i >= 2020; i--) { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    
                    <select id="mes">
                        <% const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
                        <% for (let i = 0; i < meses.length; i++) { %>
                            <option value="<%= i+1 %>"><%= meses[i] %></option>
                        <% } %>
                    </select>
                </div>  
            </header>
            <!--main-->
            <main>